--- 
import SocialLinks from '../components/SocialLinks.astro';
import Downloads from '../components/Downloads.astro';
import TableOfContents from '../components/TableOfContents.astro';

interface Props {
    title: string;
    description: string;
    headings: { depth: number; slug: string; text: string; }[];
}

const { title, description, headings } = Astro.props;

const site = {
    title: "Kit Programming Language",
    logo: "/img/logo.png",
    description: "A <span class=\"rainbow\">magical</span>, high performance programming language for game development.",
    github: {
        repository_url: "https://github.com/kitlang-dev/kitc"
    },
    discord: {
        url: "https://discord.gg/3va8Us9"
    },
    blog: {
        url: "https://blog.kitlang.dev"
    },
    playground: {
        url: "https://playground-server.kitlang.dev/compile"
    }
};
---

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/img/favicon.png">

        <title>{title}</title>

        <style is:global lang="scss">
            @use "../styles/jekyll-theme-minimal.scss";
            @use "../styles/fonts.scss";
        </style>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <body>

        <div class="wrapper">
            <header>
                <a href="/">
                    <img class="logo" src={site.logo} alt="Logo" />
                </a>

                <p set:html={site.description}></p>

                <!--
                TODO: restore Reddit link when appropriate
                <SocialLinks
                    githubUrl={site.github.repository_url}
                    twitterUrl={site.twitter.url}
                    discordUrl={site.discord.url}
                    redditUrl={site.reddit.url}
                    trelloUrl={site.trello.url}
                    blogUrl={site.blog.url}
                />
                -->

                <SocialLinks
                    githubUrl={site.github.repository_url}
                    discordUrl={site.discord.url}
                    blogUrl={site.blog.url}
                />

                <Downloads githubUrl={site.github.repository_url} />

                <p>
                    <hr/>
                    <TableOfContents headings={headings} />
                </p>
            </header>
            <section>
                <slot />
            </section>
            <footer>
                <p>Kit &mdash; &copy; 2025 <a href="https://github.com/walker84837">walker84837</a>.</p>
                <p>Some text and content adapted from <a href="https://github.com/bendmorris">Ben Morris</a>, original Kit project (<a href="https://github.com/kitlang/kit/blob/master/LICENSE.md">LGPL</a>).</p>
            </footer>
        </div>
        <script is:inline src="/js/scale.fix.js"></script>
    </body>
</html>
